{
  "swagger" : "2.0",
  "info" : {
    "title" : "Uber API",
    "description" : "Move your app forward with the Uber API",
    "version" : "1.0.0"
  },
  "host" : "api.uber.com",
  "basePath" : "/v1",
  "schemes" : [ "https", "http" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/products" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Product Types",
        "description" : "The Products endpoint returns information about the *Uber* products\noffered at a given location. The response includes the display name\nand other details about each product, and lists the products in the\nproper display order.\n",
        "parameters" : [ {
          "name" : "latitude",
          "in" : "query",
          "description" : "Latitude component of location.",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "longitude",
          "in" : "query",
          "description" : "Longitude component of location.",
          "required" : true,
          "type" : "number",
          "format" : "double"
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of products",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Product"
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/estimates/price" : {
      "get" : {
        "tags" : [ "Estimates" ],
        "summary" : "Price Estimates",
        "description" : "The Price Estimates endpoint returns an estimated price range\nfor each product offered at a given location. The price estimate is\nprovided as a formatted string with the full price range and the localized\ncurrency symbol.<br><br>The response also includes low and high estimates,\nand the [ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code for\nsituations requiring currency conversion. When surge is active for a particular\nproduct, its surge_multiplier will be greater than 1, but the price estimate\nalready factors in this multiplier.\n",
        "parameters" : [ {
          "name" : "start_latitude",
          "in" : "query",
          "description" : "Latitude component of start location.",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "start_longitude",
          "in" : "query",
          "description" : "Longitude component of start location.",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "end_latitude",
          "in" : "query",
          "description" : "Latitude component of end location.",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "end_longitude",
          "in" : "query",
          "description" : "Longitude component of end location.",
          "required" : true,
          "type" : "number",
          "format" : "double"
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of price estimates by product",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/PriceEstimate"
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/estimates/time" : {
      "get" : {
        "tags" : [ "Estimates" ],
        "summary" : "Time Estimates",
        "description" : "The Time Estimates endpoint returns ETAs for all products offered at a given location, with the responses expressed as integers in seconds. We recommend that this endpoint be called every minute to provide the most accurate, up-to-date ETAs.",
        "parameters" : [ {
          "name" : "start_latitude",
          "in" : "query",
          "description" : "Latitude component of start location.",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "start_longitude",
          "in" : "query",
          "description" : "Longitude component of start location.",
          "required" : true,
          "type" : "number",
          "format" : "double"
        }, {
          "name" : "customer_uuid",
          "in" : "query",
          "description" : "Unique customer identifier to be used for experience customization.",
          "type" : "string"
        }, {
          "name" : "product_id",
          "in" : "query",
          "description" : "Unique identifier representing a specific product for a given latitude & longitude.",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "An array of products",
            "schema" : {
              "type" : "array",
              "items" : {
                "$ref" : "#/definitions/Product"
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/me" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "User Profile",
        "description" : "The User Profile endpoint returns information about the Uber user that has authorized with the application.",
        "responses" : {
          "200" : {
            "description" : "Profile information for a user",
            "schema" : {
              "$ref" : "#/definitions/Profile"
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/history" : {
      "get" : {
        "tags" : [ "User" ],
        "summary" : "User Activity",
        "description" : "The User Activity endpoint returns data about a user's lifetime activity with Uber. The response will include pickup locations and times, dropoff locations and times, the distance of past requests, and information about which products were requested.<br><br>The history array in the response will have a maximum length based on the limit parameter. The response value count may exceed limit, therefore subsequent API requests may be necessary.",
        "parameters" : [ {
          "name" : "offset",
          "in" : "query",
          "description" : "Offset the list of returned results by this amount. Default is zero.",
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "Number of items to retrieve. Default is 5, maximum is 100.",
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "History information for the given user",
            "schema" : {
              "$ref" : "#/definitions/Activities"
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Product" : {
      "type" : "object",
      "properties" : {
        "product_id" : {
          "description" : "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles.",
          "type" : "string"
        },
        "description" : {
          "description" : "Description of product.",
          "type" : "string"
        },
        "display_name" : {
          "description" : "Display name of product.",
          "type" : "string"
        },
        "capacity" : {
          "description" : "Capacity of product. For example, 4 people.",
          "type" : "string"
        },
        "image" : {
          "description" : "Image URL representing the product.",
          "type" : "string"
        }
      }
    },
    "PriceEstimate" : {
      "type" : "object",
      "properties" : {
        "product_id" : {
          "description" : "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles",
          "type" : "string"
        },
        "currency_code" : {
          "description" : "[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code.",
          "type" : "string"
        },
        "display_name" : {
          "description" : "Display name of product.",
          "type" : "string"
        },
        "estimate" : {
          "description" : "Formatted string of estimate in local currency of the start location. Estimate could be a range, a single number (flat rate) or \"Metered\" for TAXI.",
          "type" : "string"
        },
        "low_estimate" : {
          "description" : "Lower bound of the estimated price.",
          "type" : "number"
        },
        "high_estimate" : {
          "description" : "Upper bound of the estimated price.",
          "type" : "number"
        },
        "surge_multiplier" : {
          "description" : "Expected surge multiplier. Surge is active if surge_multiplier is greater than 1. Price estimate already factors in the surge multiplier.",
          "type" : "number"
        }
      }
    },
    "Profile" : {
      "type" : "object",
      "properties" : {
        "first_name" : {
          "description" : "First name of the Uber user.",
          "type" : "string"
        },
        "last_name" : {
          "description" : "Last name of the Uber user.",
          "type" : "string"
        },
        "email" : {
          "description" : "Email address of the Uber user",
          "type" : "string"
        },
        "picture" : {
          "description" : "Image URL of the Uber user.",
          "type" : "string"
        },
        "promo_code" : {
          "description" : "Promo code of the Uber user.",
          "type" : "string"
        }
      }
    },
    "Activity" : {
      "type" : "object",
      "properties" : {
        "uuid" : {
          "description" : "Unique identifier for the activity",
          "type" : "string"
        }
      }
    },
    "Activities" : {
      "type" : "object",
      "properties" : {
        "offset" : {
          "format" : "int32",
          "description" : "Position in pagination.",
          "type" : "integer"
        },
        "limit" : {
          "format" : "int32",
          "description" : "Number of items to retrieve (100 max).",
          "type" : "integer"
        },
        "count" : {
          "format" : "int32",
          "description" : "Total number of items available.",
          "type" : "integer"
        },
        "history" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Activity"
          }
        }
      }
    },
    "Error" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "format" : "int32",
          "type" : "integer"
        },
        "message" : {
          "type" : "string"
        },
        "fields" : {
          "type" : "string"
        }
      }
    }
  }
}